{% extends 'questions/base_html.html' %}

{% block title %}Password Reset Confirm{% endblock title %}

{% load myfilters %}
{% block body %}

    <div class="w3-container w3-card w3-margin-top w3-mobile " style="max-width: 60em;  margin-left: auto;
    margin-right: auto;">
        {% if validlink %}
            <p>Please enter (and confirm) your new password.</p>
            <form action="" method="post">
                <div style="display:none">
                    <input type="hidden" value="{{ csrf_token }}" name="csrfmiddlewaretoken">
                </div>


                {{ form.new_password1.errors }}
                <label class="w3-margin"
                       for={{ form.new_password1.id_for_label }}>{{ form.new_password1.label_tag }}</label>
                {{ form.new_password1|addclass:'w3-input w3-margin-bottom' }}


                {{ form.new_password2.errors }}
                <label class="w3-margin" for={{ form.new_password2.id_for_label }}>Confirm Password:</label>
                {{ form.new_password2|addclass:'w3-input w3-margin-bottom' }}


                <input type="submit" class="w3-hover-navy w3-button " value="Change my password"/>

            </form>
        {% else %}
            <h1>Password reset failed</h1>
            <p>The password reset link was invalid, possibly because it has already been used. Please request a new
                password
                reset.</p>
        {% endif %}
    </div>


{% endblock body %}
