{% extends 'questions/base_html.html' %}
{% block title %}Password reset{% endblock title %}
{% load myfilters %}
{% block body %}
        <div class="w3-container w3-card w3-margin-top w3-mobile " style="max-width: 60em;  margin-left: auto;
    margin-right: auto;">
            <h1> Email sent: </h1>
            <p>We've emailed you instructions for setting your password. If they haven't arrived in a few minutes, check
                your spam folder.</p>
            <a  class="w3-button w3-hover-navy" href="{% url 'password_reset' %}">didn't receive it yet? try again...</a>

        </div>
{% endblock body %}